header(class="header bg-dark d-flex align-items-center")
    nav(class="navbar navbar-dark bg-dark p-0")
        button(class="navbar-toggler border-0  p-0" type="button")
            span(class="navbar-toggler-icon")
    div(class="mx-auto")
        b(class="font-load")
            span 相
            span 信
            span 美
            span 好
            span 的
            span 事
            span 情
            span 即
            span 将
            span 发
            span 生
