link(rel="stylesheet", href="/static/css/font/iconfont.css")
nav(class="slider bg-dark")
    div(class="portrait text-center")
        a(href="javascript:;" id="tx-btn")
            img(src="/static/images/item-img.jpg", alt="")
        h5(class="text-muted mt-1") #{username}        
    ul(class="sidebar-menu" id='nav-level')
        li(class="nav-item")
            a(class="nav-link" href="/admin") 首页 
        li(class="nav-item")
            a(class="nav-link" href="/admin/user") 用户管理 
        li(class="nav-item")
            a(class="nav-link" href="#") 常用操作
            ul(class="sub")
                li
                    a(href="/category") 分类管理 
                li
                    a(href="/content") 内容管理
    button(class="btn btn-dark btn-sm btn-block glyphicon glyphicon-off" id="out" type="button" href="javascript:;")
        span(class="icon iconfont  icon-guanbi") &nbsp;
        | 退出
    script.
        let $navLevel = $("#nav-level")
        let $links = $navLevel.find("li.nav-item>.nav-link")
        let $subLinks = $navLevel.find(".sub li a")
        let $navItem = $navLevel.find(".nav-item")
        $links.each(function (){
           if( $(this)[0].href == String(window.location)){
                $(this).addClass("active")
           }
        })
        $links.on('click',function (){
            $(this).addClass("active").parent().siblings().children('.nav-link').removeClass("active")
            $(this).siblings().stop().slideToggle()
        })
        $subLinks.each(function(){
             if( $(this)[0].href == String(window.location)){
                $(this).addClass("active")
                $(this).parents(".sub").siblings().addClass("active")
                $(this).parents(".sub").show()
           }
        })
        $("#out").on('click', () => {
            $.ajax({
                type:'get',
                url: '/login/user/logout',
                success(result) {
                    if (!result.code) {
                        window.location.href = '/login'
                    }
                }
            })
        })
        $("#tx-btn").on("click",()=>{
                
        })


        