.layui-float-left{
    float: left;
}
.layui-float-right{
    float: right;
}
.logo{
    width: 200px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.hideMenu{
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.hideMenu:hover{
    color: #fff;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}