extends ../layout.pug
block content 
    div(class='tabBox')
    form
        div(class="form-group")
            label(for="cateName") 分类名称
            input(id="cateId" name='cateId' type="hidden" value=category._id)
            input(class="form-control" id="cateName" name='cateName' type="text" value=category.catname placeholder="请输入分类名称")
        div(class="form-group")
            label(for="cateShort") 保存名称(默认拼音)
            input(class="form-control" id="cateShort" name='cateShort' type="text" value=category.cateShort placeholder="保存名称(默认拼音)") 
        button(class="btn btn-primary" id='categoryAdd' type="button") 保存
    script(src="/static/js/common.js")
    script.
        let cateName = $("#cateName"),
            cateId =  $("#cateId"),
            cateShort = $("#cateShort");

        $("#categoryAdd").on("click",()=>{
            if(cateName.val() == ''){
               cateName.after(hintErr('名称不能为空', cateName))
                return
            }
            $.ajax({
                type:'post',
                url:"/category/category_edit",
                data:{
                   cateName:cateName.val(),
                   cateId:cateId.val(),
                   cateShort:cateShort.val()
                },
                dataType:'json',
                success(data){
                    if(data.code == 1 || data.code == 2 || data.code == 3){
                        cateName.after(hintErr(data.message, cateName) )
                        return
                    }
                    $("#categoryAdd").before(alertBox(data.message+'2秒后跳转'))
                    setTimeout(()=>{
                         window.location.href="/category"
                    },2000)
                }
            })
        })