<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <link href="/static/css/public.css" rel="stylesheet">
</head>

<body class="childrenBody">
    <form class="layui-form" action="">
        <input type="hidden" id="editId">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md8 layui-col-xs7">
                <div class="layui-form-item layui-hide" id="parentS">
                    <input type="hidden" id="parentId">
                    <label class="layui-form-label">顶级栏目</label>
                    <div class="layui-input-block" id="parentView"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">输入栏目</label>
                    <div class="layui-input-block">
                        <input type="text" name="cateName" lay-verify="required|cateName" lay-reqtext="栏目不能为空哦！" placeholder="输入栏目" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">栏目摘要</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="cateDes" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs5">
                <div class="layui-upload-drag upload-box" id="dateAddUpload">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                    <div class="zw"></div>
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容编辑</label>
            <input type="hidden" name="editor">
            <div class="layui-input-block">
                <div id="editor"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a href="javascript:;" class="layui-btn" lay-filter="submit" lay-submit id="submitBtn">立即提交</a>
            </div>
        </div>
    </form>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/wangEditor.min.js"></script>
    <script src="/static/js/categoryAdd.js"></script>

    <script id="parentFun" type="text/html">
        <select name="cateName" id='cateNameVal'>
                {{# layui.each(d.CategoryList, function (index,item){ }}
                    {{# if(d.CateId == item._id){ }}
                         <option value="{{ item.id }}" selected> {{ item.catname }} </option>
                    {{# } else if(d.CateId == item.id){ }}
                         <option value="{{ item.id }}" selected> {{ item.catname }} </option>
                    {{# } else{ }}
                        <option value="{{ item.id }}"> {{ item.catname }} </option>
                    {{#  } }}
                {{# });}}
            </select>

    </script>
</body>

</html>