<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <link href="/static/css/public.css" rel="stylesheet">
</head>

<body class="childrenBody">
    <form class="layui-form" action="">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md7">
                <div class="layui-form-item">
                    <label class="layui-form-label">输入栏目</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="输入栏目" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">栏目摘要</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-col-md5">
                <div class="layui-upload-drag upload-box" id="test10">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </form>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/categoryAdd.js"></script>
</body>

</html>