<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <link href="/static/css/public.css" rel="stylesheet">
</head>

<body class="childrenBody">

    <blockquote class="layui-elem-quote">
        <button type="button" class="layui-btn addCon">添加文章</button>
        <button type="button" class="layui-btn layui-btn-danger allDelet">全部删除</button>
    </blockquote>

    <table class="layui-hide" id="contentTable" lay-filter="contentTable"></table>

    <script type="text/html" id="categoryTpl">
        {{ d.category.catname}}
    </script>
    <script type="text/html" id="userTpl">
        {{ d.user.nickname}}
    </script>
    <script type="text/html" id="oper">
        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event='edit'>编辑</button>
        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event='delet'>删除</button>
    </script>


    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/content.js"></script>
</body>

</html>